hcj3d-world {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transform-style: preserve-3d;
}
hcj3d-view {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    perspective: 1000px;
    perspective-origin: 60% 15%;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
    transform-style: preserve-3d;
}
hcj3d-ground {
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: #060;
    top: -50px;
    left: 130px;
    background-image: url("/images/grass.jpg");
    background-size: 100px 100px;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(8deg) translateX(0px) translateY(0px) translateZ(0px);
    transform-style: preserve-3d;
}
hcj3d-cube {
    display: block;
    position: absolute;
    transform: rotateX(0) rotateY(0) rotateZ(0) translateX(600px) translateY(700px) translateZ(0px);
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
}
hcj3d-cube hcj3d-cube-side {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}
hcj3d-cube hcj3d-cube-side[side=bottom] {
    background-color: #ff0;
}
hcj3d-cube hcj3d-cube-side[side=top] {
    background-color: #f00;
    transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(100px);
}
hcj3d-cube hcj3d-cube-side[side=left] {
    background-color: #0ff;
    transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-50px) translateY(0px) translateZ(-50px);
}
hcj3d-cube hcj3d-cube-side[side=right] {
    background-color: #00f;
    transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-50px) translateY(0px) translateZ(50px);
}
hcj3d-cube hcj3d-cube-side[side=front] {
    background-color: #0f0;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(50px) translateZ(-50px);
}
hcj3d-cube hcj3d-cube-side[side=back] {
    background-color: #f0f;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(50px) translateZ(50px);
}
