hcj3d-world {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transform-style: preserve-3d;
    perspective: 3000px;
}
hcj3d-view {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    perspective-origin: 50% 400%;
    transform-style: preserve-3d;
}
hcj3d-perspective {
	display: block;
    position: absolute;
    transform-style: preserve-3d;
    width: 1000px;
    height: 1000px;
    transform-origin: 503px 3090px 0px;
}
hcj3d-ground {
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    transform-style: preserve-3d;
    background-color: black;
}
    hcj3d-ground.dirt {
        background-color: hsl(34, 53%, 82%);
        background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
      hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
        hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
          hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
            ),
            repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
              hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
                hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
                  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
                    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
                      hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
                      );
    }
    hcj3d-ground.grass {
        background:
        radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
        radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
        #8a3;
        background-size: 20px 20px;
    }
    hcj3d-ground.rocks {
        background-color:#556;
        background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
        background-size:80px 140px;
        background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }
    hcj3d-ground.arrows {
        background:
        linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
        linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
        linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
        background-color:#e1ebbd;
        background-size: 128px 128px;
    }
hcj3d-mannequin {
    display: block;
    position: absolute;
    width: 20px;
    height: 10px;
    transform-style: preserve-3d;
}
/*
hcj3d-mannequin#me hcj3d-mannequin-body hcj3d-mannequin-body-back:hover {
    background-color: #d6bb97;
    cursor: pointer;
}
*/
    hcj3d-mannequin-head {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        transform-style: preserve-3d;
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(5px) translateY(0px) translateZ(44px);
    }
        hcj3d-mannequin-head-bottom {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(0px);
        }
        hcj3d-mannequin-head-top {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(10px);
        }
        hcj3d-mannequin-head-left {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
        }
        hcj3d-mannequin-head-right {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
        hcj3d-mannequin-head-front {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
        hcj3d-mannequin-head-back {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
            border: 1px dotted #000;
            box-sizing: border-box;
        }
    hcj3d-mannequin-body {
        display: block;
        position: absolute;
        width: 20px;
        height: 10px;
        transform-style: preserve-3d;
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(12px);
        background-color: tan;
    }
        hcj3d-mannequin-body-bottom {
            display: block;
            position: absolute;
            width: 20px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(30px);
        }
        hcj3d-mannequin-body-left {
            display: block;
            position: absolute;
            width: 30px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-15px) translateY(0px) translateZ(5px);
        }
        hcj3d-mannequin-body-right {
            display: block;
            position: absolute;
            width: 30px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-15px) translateY(0px) translateZ(-15px);
        }
        hcj3d-mannequin-body-front {
            display: block;
            position: absolute;
            width: 20px;
            height: 30px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(15px) translateZ(15px);
        }
        hcj3d-mannequin-body-back {
            display: block;
            position: absolute;
            width: 20px;
            height: 30px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg) translateX(0px) translateY(-15px) translateZ(-5px);
            font-size: 5px;
            border: 1px dotted #000;
            box-sizing: border-box;
        }
    hcj3d-mannequin-leg {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        transform-style: preserve-3d;
    }
    hcj3d-mannequin-leg.left {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(0px);
    }
    hcj3d-mannequin-leg.right {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(10px) translateY(0px) translateZ(0px);
    }
        hcj3d-mannequin-leg-bottom {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(0px);
        }
        hcj3d-mannequin-leg-top {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(10px);
        }
        hcj3d-mannequin-leg-left {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
        }
        hcj3d-mannequin-leg-right {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
        hcj3d-mannequin-leg-front {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
        hcj3d-mannequin-leg-back {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
            border: 1px dotted #000;
            box-sizing: border-box;
        }
hcj3d-cube {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
}
hcj3d-cube hcj3d-cube-side {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}
hcj3d-cube hcj3d-cube-side[side=bottom] {
    background-color: #ff0;
}
hcj3d-cube hcj3d-cube-side[side=top] {
    background-color: #f00;
    transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(100px);
}
hcj3d-cube hcj3d-cube-side[side=left] {
    background-color: #0ff;
    transform: rotateX(-90deg) rotateY(-90deg) rotateZ(0deg) translateX(0px) translateY(-50px) translateZ(50px);
}
hcj3d-cube hcj3d-cube-side[side=right] {
    background-color: #00f;
    transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-50px) translateY(0px) translateZ(50px);
}
hcj3d-cube hcj3d-cube-side[side=front] {
    background-color: #0f0;
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(-50px) translateZ(50px);
}
hcj3d-cube hcj3d-cube-side[side=back] {
    background-color: #f0f;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(180deg) translateX(0px) translateY(-50px) translateZ(50px);
}
