hcj3d-world {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
hcj3d-view {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    perspective: 800px;
    perspective-origin: 50% 20%;
}
hcj3d-perspective {
    display: block;
    position: absolute;
    transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg) translateX(150px) translateY(50px) translateZ(-200px);
    transform-style: preserve-3d;
}
hcj3d-ground {
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: #060;
    background-image: url("/images/grass.webp");
    background-size: 100px 100px;
    transform-style: preserve-3d;
    /* animation: rotating 30s linear infinite; */
}
@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
hcj3d-mannequin {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(470px) translateY(560px) translateZ(1px);
    transform-origin: 520px 610px 0px;
}
    hcj3d-mannequin-head {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        transform-style: preserve-3d;
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(40px) translateY(10px) translateZ(50px);
    }
        hcj3d-mannequin-head-bottom {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(0px);
        }
        hcj3d-mannequin-head-top {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(10px);
        }
        hcj3d-mannequin-head-left {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
        }
        hcj3d-mannequin-head-right {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
        hcj3d-mannequin-head-front {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
        hcj3d-mannequin-head-back {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
            border: 1px dotted #000;
            box-sizing: border-box;
        }
    hcj3d-mannequin-body {
        display: block;
        position: absolute;
        width: 30px;
        height: 10px;
        transform-style: preserve-3d;
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(30px) translateY(10px) translateZ(15px);
        background-color: tan;
    }
        hcj3d-mannequin-body-bottom {
            display: block;
            position: absolute;
            width: 30px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(30px);
        }
        hcj3d-mannequin-body-left {
            display: block;
            position: absolute;
            width: 30px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-15px) translateY(0px) translateZ(15px);
        }
        hcj3d-mannequin-body-right {
            display: block;
            position: absolute;
            width: 30px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-15px) translateY(0px) translateZ(-15px);
        }
        hcj3d-mannequin-body-front {
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(15px) translateZ(15px);
        }
        hcj3d-mannequin-body-back {
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(15px) translateZ(5px);
            border: 1px dotted #000;
            box-sizing: border-box;
        }
    hcj3d-mannequin-leg {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        transform-style: preserve-3d;
    }
    hcj3d-mannequin-leg.left {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(30px) translateY(10px) translateZ(1px);
    }
    hcj3d-mannequin-leg.right {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(50px) translateY(10px) translateZ(1px);
    }
        hcj3d-mannequin-leg-bottom {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(0px);
        }
        hcj3d-mannequin-leg-top {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(10px);
        }
        hcj3d-mannequin-leg-left {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
        hcj3d-mannequin-leg-right {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(0) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
        }
        hcj3d-mannequin-leg-front {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(-5px);
        }
        hcj3d-mannequin-leg-back {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: tan;
            transform-style: preserve-3d;
            transform: rotateX(90deg) rotateY(90deg) rotateZ(0) translateX(0px) translateY(5px) translateZ(5px);
        }
hcj3d-cube {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
}
hcj3d-cube hcj3d-cube-side {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}
hcj3d-cube hcj3d-cube-side[side=bottom] {
    background-color: #ff0;
}
hcj3d-cube hcj3d-cube-side[side=top] {
    background-color: #f00;
    transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px) translateZ(100px);
}
hcj3d-cube hcj3d-cube-side[side=left] {
    background-color: #0ff;
    transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-50px) translateY(0px) translateZ(-50px);
}
hcj3d-cube hcj3d-cube-side[side=right] {
    background-color: #00f;
    transform: rotateX(0) rotateY(90deg) rotateZ(0) translateX(-50px) translateY(0px) translateZ(50px);
}
hcj3d-cube hcj3d-cube-side[side=front] {
    background-color: #0f0;
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0) translateX(0px) translateY(-50px) translateZ(50px);
}
hcj3d-cube hcj3d-cube-side[side=back] {
    background-color: #f0f;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(180deg) translateX(0px) translateY(-50px) translateZ(50px);
}
