body {
    background-color: #eee;
    margin: 0;
}
footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
}
    footer div {
        padding: 10px;
        background-color: #fff;
        display: inline-block;
        border-radius: 0 10px 0 0;
    }
header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}
    header h1 {
        margin: 0;
        padding: 10px;
        background-color: #fff;
        display: inline-block;
        border-radius: 0 0 10px 0;
    }
html {
    font-family: sans-serif;
}
h1 {
    margin: 0;
}
